<div class="canvas-popup marking-popup">
  <div class="popup-header">
    <span class="popup-title">Generate Road Markings</span>
    <button mat-icon-button class="popup-close-btn" (click)="close.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="marking-tab-bar">
    <button type="button" class="marking-tab-btn" [class.marking-tab-btn--active]="markingTab === 'side'"
      (click)="onTabChange('side')">
      <mat-icon>border_outer</mat-icon> Side Marks
    </button>
    <button type="button" class="marking-tab-btn" [class.marking-tab-btn--active]="markingTab === 'dash'"
      (click)="onTabChange('dash')">
      <mat-icon>linear_scale</mat-icon> Centre Dashes
    </button>
  </div>
  @if (markingTab === 'side') {
    <div class="popup-road-checkboxes">
      <label class="popup-checkbox-label">
        <input type="checkbox" [(ngModel)]="sideCombined" (ngModelChange)="schedulePreview()" /> Combined
      </label>
      <label class="popup-checkbox-label">
        <input type="checkbox" [(ngModel)]="sideLeft" (ngModelChange)="schedulePreview()" /> Left
      </label>
      <label class="popup-checkbox-label">
        <input type="checkbox" [(ngModel)]="sideRight" (ngModelChange)="schedulePreview()" /> Right
      </label>
    </div>
    <div class="popup-fields">
      <mat-form-field appearance="outline" class="popup-field">
        <mat-label>Y start</mat-label>
        <input matInput type="number" [(ngModel)]="sideYStart" (ngModelChange)="schedulePreview()" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="popup-field">
        <mat-label>Y end</mat-label>
        <input matInput type="number" [(ngModel)]="sideYEnd" (ngModelChange)="schedulePreview()" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="popup-field">
        <mat-label>Inset</mat-label>
        <input matInput type="number" [(ngModel)]="sideInset" (ngModelChange)="schedulePreview()" />
      </mat-form-field>
    </div>
  } @else {
    <div class="popup-road-checkboxes">
      <label class="popup-checkbox-label">
        <input type="checkbox" [(ngModel)]="centreCombined" (ngModelChange)="schedulePreview()" /> Combined
      </label>
      <label class="popup-checkbox-label">
        <input type="checkbox" [(ngModel)]="centreLeft" (ngModelChange)="schedulePreview()" /> Left
      </label>
      <label class="popup-checkbox-label">
        <input type="checkbox" [(ngModel)]="centreRight" (ngModelChange)="schedulePreview()" /> Right
      </label>
    </div>
    <div class="popup-fields">
      <mat-form-field appearance="outline" class="popup-field">
        <mat-label>Y start</mat-label>
        <input matInput type="number" [(ngModel)]="centreYStart" (ngModelChange)="schedulePreview()" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="popup-field">
        <mat-label>Y end</mat-label>
        <input matInput type="number" [(ngModel)]="centreYEnd" (ngModelChange)="schedulePreview()" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="popup-field">
        <mat-label>Dash frequency</mat-label>
        <input matInput type="number" [(ngModel)]="dashFrequency" (ngModelChange)="schedulePreview()" />
      </mat-form-field>
    </div>
  }
  <p class="popup-hint">Road Y range: 0 &#8594; {{ roadMaxY }}</p>
  <div class="popup-actions">
    <button mat-raised-button color="primary" (click)="onGenerate()" [disabled]="workerBusy">
      <mat-icon>add</mat-icon> Generate
    </button>
  </div>
</div>
