<div class="canvas-popup marking-popup">
  <div class="popup-header">
    <span class="popup-title">Generate Road Markings</span>
    <button type="button" mat-icon-button class="popup-close-btn" (click)="close.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="marking-tab-bar">
    <button type="button" class="marking-tab-btn" [class.marking-tab-btn--active]="markingTab === 'side'"
      (click)="onTabChange('side')">
      <mat-icon>border_outer</mat-icon> Side Marks
    </button>
    <button type="button" class="marking-tab-btn" [class.marking-tab-btn--active]="markingTab === 'dash'"
      (click)="onTabChange('dash')">
      <mat-icon>linear_scale</mat-icon> Centre Dashes
    </button>
  </div>
  @if (markingTab === 'side') {
    <form class="popup-form" [formGroup]="sideForm">
      <div class="popup-road-checkboxes">
        <label class="popup-checkbox-label">
          <input type="checkbox" formControlName="combined" /> Combined
        </label>
        <label class="popup-checkbox-label">
          <input type="checkbox" formControlName="left" /> Left
        </label>
        <label class="popup-checkbox-label">
          <input type="checkbox" formControlName="right" /> Right
        </label>
      </div>
      <div class="popup-fields">
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Y start</mat-label>
          <input matInput type="number" formControlName="yStart" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Y end</mat-label>
          <input matInput type="number" formControlName="yEnd" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Inset</mat-label>
          <input matInput type="number" formControlName="inset" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Y frequency</mat-label>
          <input matInput type="number" min="1" formControlName="yFrequency" />
        </mat-form-field>
      </div>
    </form>
  } @else {
    <form class="popup-form" [formGroup]="centreForm">
      <div class="popup-road-checkboxes">
        <label class="popup-checkbox-label">
          <input type="checkbox" formControlName="combined" /> Combined
        </label>
        <label class="popup-checkbox-label">
          <input type="checkbox" formControlName="left" /> Left
        </label>
        <label class="popup-checkbox-label">
          <input type="checkbox" formControlName="right" /> Right
        </label>
      </div>
      <div class="popup-fields">
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Y start</mat-label>
          <input matInput type="number" formControlName="yStart" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Y end</mat-label>
          <input matInput type="number" formControlName="yEnd" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Dash length</mat-label>
          <input matInput type="number" min="1" formControlName="dashLength" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="popup-field">
          <mat-label>Gap length</mat-label>
          <input matInput type="number" min="1" formControlName="gapLength" />
        </mat-form-field>
      </div>
    </form>
  }
  <p class="popup-hint">Road Y range: 0 &#8594; {{ roadMaxY }}</p>
  <div class="popup-actions">
    <button type="button" mat-raised-button color="primary" (click)="onGenerate()" [disabled]="workerBusy">
      <mat-icon>add</mat-icon> Generate
    </button>
  </div>
</div>
