<app-editor-canvas-toolbar [state]="this" />

<div class="flex min-h-0 min-w-0 flex-1 flex-col overflow-hidden">
  <div
    class="relative grid min-h-0 min-w-0 flex-1 grid-cols-[minmax(0,1fr)_14px] grid-rows-[minmax(0,1fr)_14px] overflow-hidden"
  >
    <canvas
      id="object-canvas"
      class="col-[1] row-[1] block h-full min-h-0 w-full min-w-0 bg-[#1a2a1a]"
      width="900"
      height="700"
      tabindex="0"
      (mousedown)="canvasMouseDown.emit($event)"
      (mousemove)="canvasMouseMove.emit($event)"
      (mouseup)="canvasMouseUp.emit($event)"
      (dblclick)="canvasDblClick.emit($event)"
      (keydown)="canvasKeyDown.emit($event)"
      (keyup)="canvasKeyUp.emit($event)"
      (wheel)="canvasWheel.emit($event)"
      (contextmenu)="canvasContextMenu.emit($event); $event.preventDefault()"
      [style.cursor]="canvasCursor()"
    ></canvas>
    <!-- Vertical scrollbar: direct mapping - value=min(=0) → see start(Y=0), value=max → see end -->
    <input
      type="range"
      class="col-[2] row-[1] w-[14px] self-stretch border-l border-l-[var(--border)] bg-[var(--bg)] [appearance:none] [direction:rtl] [writing-mode:vertical-lr] focus:outline-none [&::-moz-range-thumb]:h-8 [&::-moz-range-thumb]:w-[10px] [&::-moz-range-thumb]:cursor-pointer [&::-moz-range-thumb]:rounded [&::-moz-range-thumb]:border-0 [&::-moz-range-thumb]:bg-[var(--surface4)] [&::-webkit-slider-runnable-track]:bg-transparent [&::-webkit-slider-thumb]:h-10 [&::-webkit-slider-thumb]:w-[10px] [&::-webkit-slider-thumb]:cursor-pointer [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-[5px] [&::-webkit-slider-thumb]:border [&::-webkit-slider-thumb]:border-[var(--border)] [&::-webkit-slider-thumb]:bg-[var(--surface4)] hover:[&::-webkit-slider-thumb]:bg-[var(--accent2)]"
      aria-label="Vertical scroll position"
      [min]="0"
      [max]="scrollYMax"
      [step]="10"
      [formControl]="canvasForm.controls.panY"
    />
    <!-- Horizontal scrollbar -->
    <input
      type="range"
      class="col-[1] row-[2] h-[14px] w-full border-t border-t-[var(--border)] bg-[var(--bg)] [appearance:none] focus:outline-none [&::-moz-range-thumb]:h-[10px] [&::-moz-range-thumb]:w-8 [&::-moz-range-thumb]:cursor-pointer [&::-moz-range-thumb]:rounded [&::-moz-range-thumb]:border-0 [&::-moz-range-thumb]:bg-[var(--surface4)] [&::-webkit-slider-runnable-track]:bg-transparent [&::-webkit-slider-thumb]:h-[10px] [&::-webkit-slider-thumb]:w-10 [&::-webkit-slider-thumb]:cursor-pointer [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:rounded-[5px] [&::-webkit-slider-thumb]:border [&::-webkit-slider-thumb]:border-[var(--border)] [&::-webkit-slider-thumb]:bg-[var(--surface4)] hover:[&::-webkit-slider-thumb]:bg-[var(--accent2)]"
      [min]="scrollXMin"
      [max]="scrollXMax"
      [step]="5"
      [formControl]="canvasForm.controls.panX"
    />

    <!-- Marking generation popup overlay -->
    @if (showMarkingPopup) {
      <app-marking-popup
        [roadMaxY]="roadMaxY"
        [workerBusy]="workerBusy"
        (close)="toggleMarkingPopup()"
        (generateSideMarks)="generateSideMarks.emit($event)"
        (generateCentreMarks)="generateCentreMarks.emit($event)"
        (previewSideMarks)="previewSideMarks.emit($event)"
        (previewCentreMarks)="previewCentreMarks.emit($event)"
        (previewRange)="previewRange.emit($event)"
        (removeMarks)="removeMarks.emit($event)"
        (clearPreview)="clearMarkingPreview.emit()"
      ></app-marking-popup>
    }

    <!-- Info popup overlay -->
    @if (showInfoPopup) {
      <app-canvas-info-popup
        [levelNum]="levelNum"
        [objectCount]="objectCount"
        (close)="showInfoPopup = false"
      ></app-canvas-info-popup>
    }
  </div>
  <div
    class="flex flex-wrap items-center gap-2 border-t border-t-[var(--border)] bg-[var(--bg)] px-[14px] py-1 text-[0.72rem] text-[var(--muted)]"
  >
    <span class="font-semibold text-[var(--on-surface)]">{{ (zoom * 100).toFixed(0) }}%</span>
    <mat-divider [vertical]="true" class="!h-[14px] !border-r-[var(--border)]"></mat-divider>
    <span class="font-mono text-[var(--muted)]"
      >({{ panX | number: '1.0-0' }}, {{ panY | number: '1.0-0' }})</span
    >
    <mat-divider [vertical]="true" class="!h-[14px] !border-r-[var(--border)]"></mat-divider>
    <span class="text-[0.7rem]" style="color: #42a5f5">&#9632; Up</span>
    <span class="text-[0.7rem]" style="color: #ef5350">&#9632; Down</span>
    <span class="text-[0.7rem]" style="color: #00e5ff">&#9650; Start X</span>
  </div>
</div>
