<app-properties-tab
  [selectedLevel]="selectedLevel"
  [levelNum]="levelNum"
  [editRoadInfo]="editRoadInfo"
  [roadInfoOptions]="roadInfoOptions"
  [roadInfoData]="roadInfoData"
  [editObjectGroups]="editObjectGroups"
  [objectGroupDefinitions]="objectGroupDefinitions"
  [getSpriteUrl]="getSpriteUrl"
  [propertiesDirty]="propertiesDirty"
  [workerBusy]="workerBusy"
  [scripts]="scripts"
  [levelScriptBindings]="levelScriptBindings"
  [objectTypes]="objectTypes"
  [spriteFrames]="spriteFrames"
  [audioEntries]="audioEntries"
  (roadInfoChange)="roadInfoChange.emit($event)"
  (roadInfoInput)="roadInfoInput.emit($event)"
  (objGroupInput)="objGroupInput.emit($event)"
  (levelScriptBindingChange)="levelScriptBindingChange.emit($event)"
  (createLevelScript)="createLevelScript.emit($event)"
  (scriptSave)="scriptSave.emit($event)"
></app-properties-tab>
