<app-properties-tab
  [selectedLevel]="selectedLevel"
  [levelNum]="levelNum"
  [editRoadInfo]="editRoadInfo"
  [roadInfoData]="roadInfoData"
  [editObjectGroups]="editObjectGroups"
  [tileTileEntries]="tileTileEntries"
  [audioEntries]="audioEntries"
  [getTileDataUrl]="getTileDataUrl"
  [propertiesDirty]="propertiesDirty"
  [workerBusy]="workerBusy"
  (roadInfoInput)="roadInfoInput.emit($event)"
  (objGroupInput)="objGroupInput.emit($event)"
  (saveProperties)="saveProperties.emit()"
></app-properties-tab>
