<app-editor-canvas
  class="max-[1024px]:min-h-[360px]"
  [objects]="host.objects"
  [selectedObjIndex]="host.selectedObjIndex"
  [marks]="host.marks"
  [selectedMarkIndex]="host.selectedMarkIndex"
  [showTrackOverlay]="host.showTrackOverlay"
  [showMarks]="host.showMarks"
  [barrierDrawSide]="host.barrierDrawSide"
  [drawMode]="host.drawMode"
  [roadInfoOptions]="host.roadInfoOptions"
  [editRoadInfo]="host.editRoadInfo"
  [editTime]="host.editTime"
  [canUndo]="host.canUndo"
  [canRedo]="host.canRedo"
  [trackUpCount]="host.trackUpCount"
  [trackDownCount]="host.trackDownCount"
  [roadSegCount]="host.roadSegCount"
  [zoom]="host.zoom"
  [panX]="host.panX"
  [panY]="host.panY"
  [scrollYMax]="host.scrollYMax"
  [scrollXMin]="host.scrollXMin"
  [scrollXMax]="host.scrollXMax"
  [levelNum]="host.levelNum"
  [workerBusy]="host.workerBusy"
  [isDragging]="host.isDragging"
  [dragTrackWaypoint]="host.dragTrackWaypoint"
  [hoverTrackWaypoint]="host.hoverTrackWaypoint"
  [spaceDown]="host.spaceDown"
  [roadMaxY]="host.roadMaxY"
  [objectCount]="host.objectCount"
  [hasMarkingPreview]="host.hasMarkingPreview"
  [markCreateMode]="host.markCreateMode"
  [pendingMarkPointCount]="host.pendingMarkPointCount"
  [placementObjTypeRes]="host.placementObjTypeRes"
  [availableTypeIds]="host.availableTypeIds"
  [getSpriteUrl]="host.getSpriteUrl"
  [getFallbackColor]="host.getFallbackColor"
  (canvasMouseDown)="host.canvasMouseDown.emit($event)"
  (canvasMouseMove)="host.canvasMouseMove.emit($event)"
  (canvasMouseUp)="host.canvasMouseUp.emit($event)"
  (canvasDblClick)="host.canvasDblClick.emit($event)"
  (canvasContextMenu)="host.canvasContextMenu.emit($event)"
  (canvasKeyDown)="host.canvasKeyDown.emit($event)"
  (canvasKeyUp)="host.canvasKeyUp.emit($event)"
  (canvasWheel)="host.canvasWheel.emit($event)"
  (addObject)="host.addObject.emit()"
  (removeObject)="host.removeObject.emit()"
  (duplicateObject)="host.duplicateObject.emit()"
  (frameAll)="host.frameAll.emit()"
  (centerSelected)="host.centerSelected.emit()"
  (toggleTracks)="host.toggleTracks.emit()"
  (toggleMarks)="host.toggleMarks.emit()"
  (barrierDrawSideChange)="host.barrierDrawSideChange.emit($event)"
  (drawModeChange)="host.drawModeChange.emit($event)"
  (roadInfoChange)="host.roadInfoChange.emit($event)"
  (timeChange)="host.timeChange.emit($event)"
  (undo)="host.undo.emit()"
  (redo)="host.redo.emit()"
  (zoomIn)="host.zoomIn.emit()"
  (zoomOut)="host.zoomOut.emit()"
  (resetView)="host.resetView.emit()"
  (panXChange)="host.panXChange.emit($event)"
  (panYChange)="host.panYChange.emit($event)"
  (addMark)="host.addMark.emit()"
  (removeMark)="host.removeMark.emit()"
  (startMarkCreate)="host.startMarkCreate.emit()"
  (confirmMarkCreate)="host.confirmMarkCreate.emit()"
  (generateSideMarks)="host.generateSideMarks.emit($event)"
  (generateCentreMarks)="host.generateCentreMarks.emit($event)"
  (previewSideMarks)="host.previewSideMarks.emit($event)"
  (previewCentreMarks)="host.previewCentreMarks.emit($event)"
  (previewRange)="host.previewRange.emit($event)"
  (removeMarks)="host.removeMarks.emit($event)"
  (clearMarkingPreview)="host.clearMarkingPreview.emit()"
  (addObjectTypeChange)="host.addObjectTypeChange.emit($event)"
></app-editor-canvas>
