@if (selectedLevel) {
  <mat-card class="flex min-h-0 w-full flex-1 flex-col rounded-b-lg border border-[var(--border)] bg-[var(--surface)]">
    <mat-card-content class="!flex !min-h-0 !flex-1 !flex-col !p-0">
      <div class="flex min-h-0 w-full flex-1 items-stretch gap-4 overflow-hidden p-4 max-[1200px]:flex-col max-[1200px]:p-3">
        <app-editor-canvas
          [objects]="objects"
          [selectedObjIndex]="selectedObjIndex"
          [marks]="marks"
          [selectedMarkIndex]="selectedMarkIndex"
          [showTrackOverlay]="showTrackOverlay"
          [showMarks]="showMarks"
          [barrierDrawSide]="barrierDrawSide"
          [drawMode]="drawMode"
          [roadInfoOptions]="roadInfoOptions"
          [editRoadInfo]="editRoadInfo"
          [editTime]="editTime"
          [canUndo]="canUndo"
          [canRedo]="canRedo"
          [trackUpCount]="trackUpCount"
          [trackDownCount]="trackDownCount"
          [roadSegCount]="roadSegCount"
          [zoom]="zoom"
          [panX]="panX"
          [panY]="panY"
          [scrollYMax]="scrollYMax"
          [scrollXMin]="scrollXMin"
          [scrollXMax]="scrollXMax"
          [levelNum]="levelNum"
          [workerBusy]="workerBusy"
          [isDragging]="isDragging"
          [dragTrackWaypoint]="dragTrackWaypoint"
          [hoverTrackWaypoint]="hoverTrackWaypoint"
          [spaceDown]="spaceDown"
          [roadMaxY]="roadMaxY"
          [objectCount]="objectCount"
          [hasMarkingPreview]="hasMarkingPreview"
          [markCreateMode]="markCreateMode"
          [pendingMarkPointCount]="pendingMarkPointCount"
          (canvasMouseDown)="canvasMouseDown.emit($event)"
          (canvasMouseMove)="canvasMouseMove.emit($event)"
          (canvasMouseUp)="canvasMouseUp.emit($event)"
          (canvasDblClick)="canvasDblClick.emit($event)"
          (canvasContextMenu)="canvasContextMenu.emit($event)"
          (canvasKeyDown)="canvasKeyDown.emit($event)"
          (canvasKeyUp)="canvasKeyUp.emit($event)"
          (canvasWheel)="canvasWheel.emit($event)"
          (addObject)="addObject.emit()"
          (removeObject)="removeObject.emit()"
          (duplicateObject)="duplicateObject.emit()"
          (frameAll)="frameAll.emit()"
          (centerSelected)="centerSelected.emit()"
          (toggleTracks)="toggleTracks.emit()"
          (toggleMarks)="toggleMarks.emit()"
          (barrierDrawSideChange)="barrierDrawSideChange.emit($event)"
          (drawModeChange)="drawModeChange.emit($event)"
          (roadInfoChange)="roadInfoChange.emit($event)"
          (timeChange)="timeChange.emit($event)"
          (undo)="undo.emit()"
          (redo)="redo.emit()"
          (zoomIn)="zoomIn.emit()"
          (zoomOut)="zoomOut.emit()"
          (resetView)="resetView.emit()"
          (panXChange)="panXChange.emit($event)"
          (panYChange)="panYChange.emit($event)"
          (addMark)="addMark.emit()"
          (removeMark)="removeMark.emit()"
          (startMarkCreate)="startMarkCreate.emit()"
          (confirmMarkCreate)="confirmMarkCreate.emit()"
          (generateSideMarks)="generateSideMarks.emit($event)"
          (generateCentreMarks)="generateCentreMarks.emit($event)"
          (previewSideMarks)="previewSideMarks.emit($event)"
          (previewCentreMarks)="previewCentreMarks.emit($event)"
          (removeMarks)="removeMarks.emit($event)"
          (clearMarkingPreview)="clearMarkingPreview.emit()"
        ></app-editor-canvas>

        <div class="custom-scrollbar flex min-h-0 w-[290px] min-w-[270px] shrink-0 flex-col gap-4 overflow-y-auto border-l border-l-[var(--border)] bg-[var(--surface2)] p-4 max-[1200px]:max-h-[42vh] max-[1200px]:w-full max-[1200px]:min-w-0 max-[1200px]:flex-[0_0_auto] max-[1200px]:border-l-0 max-[1200px]:border-t max-[1200px]:border-t-[var(--border)] max-[1200px]:p-3">
          <app-object-inspector
            [selectedIndex]="selectedObjIndex"
            [editDirDeg]="editObjDirDeg"
            [editTypeRes]="editObjTypeRes"
            [availableTypeIds]="availableTypeIds"
            [spriteUrl]="spriteUrl"
            [getSpriteUrl]="getSpriteUrl"
            [getFallbackColor]="getFallbackColor"
            [typePalette]="typePalette"
            [visibleTypeFilter]="visibleTypeFilter"
            [workerBusy]="workerBusy"
            [typeDimLabel]="typeDimLabel"
            (dirDegInput)="dirDegInput.emit($event)"
            (typeResChange)="typeResChange.emit($event)"
            (typeVisibilityToggle)="typeVisibilityToggle.emit($event)"
            (showAll)="showAll.emit()"
            (hideAll)="hideAll.emit()"
            (removeSelected)="removeSelected.emit()"
            (deselect)="deselect.emit()"
          ></app-object-inspector>

          <app-object-list
            [objects]="objects"
            [filteredIndices]="filteredIndices"
            [selectedIndex]="selectedObjIndex"
            [searchTerm]="searchTerm"
            [getSpriteUrl]="getSpriteUrl"
            [getFallbackColor]="getFallbackColor"
            (objectSelected)="objectSelected.emit($event)"
            (searchTermChange)="searchTermChange.emit($event)"
          ></app-object-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
}
